@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --cosmic-latte: #FFF8E7;
  --charcoal: #36454F;
  --eclipse: #3D3D3D;
  --platinum: #E5E4E2;
}

body {
  background: var(--cosmic-latte);
  color: var(--eclipse);
}

@media (prefers-color-scheme: dark) {
  body {
    color: var(--platinum);
    background: var(--charcoal);
  }
}
